.Teclado {
    position: absolute;
    height: 20rem;
    width: 18rem;
    bottom: 0;
    background: rgba(0, 34, 53, 0.4);
    overflow: hidden;
    border-radius: 1rem 1rem 2rem 2rem;
}

.Teclado::after {
    content: '';
    position: absolute;
    height: 20rem;
    width: 20rem;
    right: 0;
    background: linear-gradient(244.38deg, #42869B 5%, #2A7DA1 15%, #224E91 30%, #00123F 50%);
    filter: blur(4rem);
    transform: rotate(-15deg);
}