.Teclado {
    display: flex;
    position: absolute;
    height: 20rem;
    width: 18rem;
    bottom: 0;
    overflow: hidden;
    border-radius: 1rem 1rem 2rem 2rem;
    background: rgba(230, 246, 255, .4);
}

.Teclado.Dark {
    background: rgba(0, 34, 53, 0.4);
}

.Teclado::before {
    content: '';
    position: absolute;
    height: 20rem;
    width: 20rem;
    right: 0;
    filter: blur(4rem);
    z-index: 0;
    transform: rotate(-15deg);
    background: linear-gradient(244.38deg, #9EE8FF 8.14%, #5ACEFF 27.9%, #79AFFF 56.94%, #2D5FDE 84.11%);
}

.Teclado.Dark::before {
    background: linear-gradient(244.38deg, #42869B 5%, #2A7DA1 15%, #224E91 30%, #00123F 50%);
}

.Conteudo {
    z-index: 1;
    position: relative;
    width: 18rem;
}

.Teclado .leftSideBar {
    position: absolute;
    left: 1rem;
    top: .6rem;
    width: 12rem;
    margin: 0;
}

.Teclado .topBar {
    display: flex;
    margin-left: .375rem;
    margin-bottom: .32rem;
}

.Teclado .rightSideBar {
    position: absolute;
    right: 1.375rem;
    top: .6rem;
    display: flex;
    flex-direction: column;
}