.Teclado {
    display: flex;
    position: absolute;
    height: 20rem;
    width: 18rem;
    bottom: 0;
    background: rgba(230, 246, 255, .4);
    overflow: hidden;
    border-radius: 1rem 1rem 2rem 2rem;
}

.Teclado::before {
    content: '';
    position: absolute;
    height: 20rem;
    width: 20rem;
    right: 0;
    background: linear-gradient(244.38deg, #9EE8FF 8.14%, #5ACEFF 27.9%, #79AFFF 56.94%, #2D5FDE 84.11%);
    filter: blur(4rem);
    z-index: 0;
    transform: rotate(-15deg);
}

.Conteudo {
    z-index: 1;
    position: relative;
    width: 18rem;
}

.Teclado .leftSideBar {
    position: absolute;
    left: 1rem;
    top: .6rem;
    width: 12rem;
    margin: 0;
}

.Teclado .topBar {
    display: flex;
    margin-left: .375rem;
    margin-bottom: .32rem;
}

/* .Teclado .numeros {} */

.Teclado .rightSideBar {
    position: absolute;
    right: 1.375rem;
    top: .6rem;
    display: flex;
    flex-direction: column;
}