.Calculadora {
    height: 34rem;
    width: 18rem;
    border-radius: 2rem;
    position: relative;
    background: linear-gradient(166.34deg, #FBFBFB 0%, #EEE 22.9%, #E5E5E5 100%);
}

.Calculadora.Dark {
    background: linear-gradient(166.34deg, #2b2a2a 0%, #1b1c1d 22.9%, #000309 100%);
}