.Tecla {
    position: relative;
    width: 3.25rem;
    margin: 0.32rem .375rem;
    height: 3.25rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.6rem;
    color: #373737;
    box-sizing: border-box;
    transition: ease-in-out 100ms;
}

.Tecla:hover {
    background: rgba(255, 255, 255, 0.7);
}

.Tecla:active {
    background: rgba(120, 120, 255, 0.5);
}

.Teclado .topBar .Tecla:nth-child(1) {
    border-radius: 3.25rem 0 0 3.25rem;
    margin: 0;
    width: 3.75rem;
}

.Teclado .topBar .Tecla:nth-child(2) {
    border-radius: 0;
    margin: 0;
    width: 3.75rem;
}

.Teclado .topBar .Tecla:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 3.25rem 3.25rem 0;
    margin: 0;
    width: 3.75rem;
}

.Teclado .rightSideBar .Tecla {
    border-radius: 0;
    margin: 0;
    height: 3.75rem;
}

.Teclado .rightSideBar .Tecla:first-child {
    border-radius: 3.25rem 3.25rem 0 0;
}

.Teclado .rightSideBar .Tecla:last-child {
    border-radius: 0 0 3.25rem 3.25rem;
}

.Teclado .rightSideBar .Tecla:last-child:hover {
    background: rgba(255, 255, 255, 0.4);
}

.Teclado .rightSideBar .Tecla .igual {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.25rem;
    width: 3.25rem;
    color: #373737;
    background: rgba(255, 255, 255, 0.4);
}

.Teclado .rightSideBar .Tecla .igual:hover {
    background: rgba(255, 255, 255, 0.9);
}

.Teclado .rightSideBar .Tecla .igual:active {
    background: rgba(120, 120, 255, 0.5);
}